
/* CSS for body */
body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* CSS for header */
.nav {
  background-color: #d33838;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav h1 {
  margin: 0;
  font-size: 28px;
}

/* CSS for main section */
main {
  margin: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

th {
  background-color: #521818;
  color: white;
}

/* CSS for search bar and select */
form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 0.1px solid rgb(39, 33, 33);
  border-radius: 5px;
  width: 300px;
  margin-right: 20px;
}

input[type="submit"] {
  background-color: #33a088;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
input[type="submit"]:hover{
    background-color: #05745b;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}

/* CSS for visited button */
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}
